langchain
langchain-core
langgraph
langchain-google-genai
langchain-groq
langchain-mistralai
python-dotenv
faiss-cpu
tiktoken
fastapi
uvicorn
requests
langchain_huggingface
streamlit
requests
arxiv==4.0.0
langchain-community==0.4.2
